.sidebar{
    display: flex;
    flex: 1 1 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    button{
        background: transparent;
        border: none;
        padding: 8px 4.5px;
        font-size: 0.9em;
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover{
        background: #ff90c9;
    }

    button:active{
        background: #ff78bd;
    }
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 45%;

    h3{
        font-family: "Darumadrop One", sans-serif;
        font-size: 1.35em;
    }

    div{
        display: flex;
        gap: 5px;
    }
}

.sidebar-chat-tools{
    display: flex;
    flex-direction: column;

    .chat-tool{
        width: 15vw;
        display: flex;
        gap: 5.5px;
    }
}

.sidebar-chat-history{
    display: flex;
    flex-direction: column;

    .chat-history-content{
        display: flex;
        flex-direction: column;

        button{
            width: 15vw;
            display: flex;
        }
    }
}

.sidebar-user-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;

    .user-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6.5px;
    }

    .profile-pic{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}