@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Sniglet:wght@400;800&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Valley Sans", sans-serif;
}

body{
    background: #ff94cb;
    background: -webkit-linear-gradient(350deg, rgba(255, 148, 203, 1) 0%, rgba(255, 173, 217, 1) 50%, rgba(250, 172, 241, 1) 100%);
    background: -moz-linear-gradient(350deg, rgba(255, 148, 203, 1) 0%, rgba(255, 173, 217, 1) 50%, rgba(250, 172, 241, 1) 100%);
    background: linear-gradient(350deg, rgba(255, 148, 203, 1) 0%, rgba(255, 173, 217, 1) 50%, rgba(250, 172, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF94CB", endColorstr="#FAACF1", GradientType=0);
    height: 100svh;
    margin: 0;
    background-attachment: fixed;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e67ae2 rgba(217, 76, 245, 0.925);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(217, 76, 245, 0.925);
    border-radius: 10px;
    margin: 7.5px 0;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #e67ae2, #d94cf5);
    border-radius: 10px;
    box-shadow: 0 0 20px #e67ae2, 0 0 40px #d665e0;
    animation: neonPulse 2s ease-in-out infinite alternate;
    min-height: 20px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 30px #e67ae2, 0 0 60px #d665e0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@keyframes neonPulse {
    from { 
        box-shadow: 0 0 20px #e67ae2, 0 0 40px #d665e0;
    }
    to { 
        box-shadow: 0 0 30px #e67ae2, 0 0 60px #d665e0;
    }
}